*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	margin: auto 21vw;
}
#firstform{
	align-content: center;
	color: white;
	border: 1px solid black;
	width: 700px;
	height: 400px;
	padding: 20px;
	line-height: 30px;
	font-family: algerian;
	text-align: center;
	background-image: url("C:/Users/LALIT/Desktop/PACE-Web Design/image/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
}
.textType{
	margin-left: 40px;
}